{% extends 'base.html.twig' %}

 {% block title %}  Wagana {% endblock %}
  
{% block body %}

    <div class="container py-5">
	    <h1 class="h3 mb-3 font-weight-normal">
				Bienvenue sur le site Wagana 
		</h1>
    </div>
{% endblock %}
    