{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
  <div class="container py-5">
      <h1> Page de réservation </h1>

      {{ include('booking/_form.html.twig') }}

       {# <a href="{{ path('booking_index') }}">back to list</a> #}
    </div>
{% endblock %}
